<div class="col-md-3">
  <h2>User info</h2>
  <% if user.present? %>
    <%= image_tag user.get_profile_image(width: 100, height: 100), alt: "#{user.name}'s Profile Image" %>
    <table class="table">
      <tr>
        <th>Name</th>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th>Introduction</th>
        <td><%= user.introduction %></td>
      </tr>
    </table>
    <a class="btn btn-outline-secondary btn-block" href="<%= edit_user_path(user) %>">
      Edit User
    </a>
  <% else %>
    <p>No user data available.</p>
  <% end %>
</div>
