<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th>Profile Image</th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @user.books.each do |book| %>
      <tr>
        <td>
          <%= image_tag book.user.profile_image.variant(resize: '100x100') if book.user.profile_image.attached? %>
        </td>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.opinion %></td>
      </tr>
    <% end %>
  </tbody>
</table>
